
@{
    ViewBag.Title = "View";
    var loggedUser = TempData["LoggedUser"];
}

<script>

    loggedUser = @Html.Raw(Json.Encode(loggedUser));
    if (loggedUser != null) {
        sessionStorage.setItem("loggedUserId", loggedUser.Id);
        loggedUserId = loggedUser.Id;
    } else {
        loggedUserId = sessionStorage.getItem("loggedUserId");
    }
</script>

@*
    <div id="v-distributor-page">
        <h1> {{Mess}}</h1>
        <div class="menu">
            <ul>
                <li> {{ User.Name }}</li>
                <li> {{ User.Balance}} </li>
            </ul>
            <ul>
                <li><a href="#">Покинуть аккаунт</a></li>
            </ul>
        </div>

        <div class="center_content">
            <div>
                <div class="contentStyle">
                    <table class="table_col scrolling-table" width="360px" height="400" style="background-color:#e9e5e2;">
                        <colgroup>
                            <col style="background:#999999;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Название</th>
                                <th>Цена</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="pack in Packs">
                                <th>{{pack.DrugName}}</th>
                                <th>{{pack.Count + " " + pack.UnitsOfMeasurement }}</th>
                                <th class="btn">Найти</th>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="contentStyle pressX">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d336639.7134787372!2d44.52593357421873!3d48.76283905234407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1524432095300" width="550" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div style="margin-top:30px;">
                <div class="styled-select">
                    <label for="sort">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Сортировка</label>
                    <select name="sort">
                        <option>По возрастанию цены</option>
                        <option>Ебать-копать</option>
                    </select>
                </div>

                <div>
                    <div class="contentStyle">
                        <table class="table_col scrolling-table" height="200" style="background-color:#e9e5e2;">
                            <colgroup>
                                <col style="background:#999999;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>Название</th>
                                    <th>Стоимость</th>
                                    <th>Количество</th>
                                    <th>Продавец</th>
                                    <th>Время доставки</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Дима пидор</th>
                                    <th>даром</th>
                                    <th>2 шт.</th>
                                    <th>Санек</th>
                                    <th>пулей</th>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="contentStyle pressX">
                        <div class="styled-select" style="margin-right:5px;">
                            <label for="sort">&nbsp;&nbsp;Товар</label>
                            <select name="sort">
                                <option>Марьванна</option>
                                <option>Ебать-копать</option>
                            </select>
                        </div>
                        <div align="right">
                            <label>Вес</label>
                            <input type="text"></input>
                        </div>
                        <div align="right">
                            <label>&nbsp;&nbsp;Стоимость</label>
                            <input type="text"></input>
                        </div>
                        <div align="center">
                            <input type="button" value="Купить&nbsp;&nbsp;" style="width:30%; background-color:#C0C0C0;">
                            <input type="button" value="Отмена&nbsp;&nbsp;" style="width:30%; background-color:#C0C0C0;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @Scripts.Render("~/scripts/Distributors/Distributor.js")
    <script>
        //vDistributorPage.setUserId(loggedUserId);
    </script>*@


<div id="v-distributor-page">
    <div id="main_container">
        <div class="menu">
            <ul>
                <li> {{User.Name}}</li>
                <li> {{User.Balance}}</li>
            </ul>
            <ul>
                <li><a href="~/Authorization/">Покинуть аккаунт</a></li>
            </ul>
        </div>
        <div class="center_content">
            <div>
                <div class="contentStyle">
                    <table class="table_col scrolling-table" height="400" style="background-color:#e9e5e2;">
                        <colgroup>
                            <col style="background:#999999;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Название</th>
                                <th>Кол-во </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="pack in Packs">
                                <th>
                                    {{ pack.DrugName }}
                                    {{ "" + pack.Count + " " + pack.UnitsOfMeasurement}}
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="contentStyle pressX">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d336639.7134787372!2d44.52593357421873!3d48.76283905234407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1524432095300" width="550" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div style="margin-top:30px;">
                <div class="styled-select">
                    <label for="sort">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Сортировка:</label>
                    <select name="sort">
                        <option>По возрастанию цены</option>
                        <option>Ебать-копать</option>
                    </select>
                </div>

                <div>
                    <div class="contentStyle">
                        <table class="table_col scrolling-table" height="200" style="background-color:#e9e5e2;">
                            <colgroup>
                                <col style="background:#999999;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>Название</th>
                                    <th>Кол-во </th>
                                    <th>Цена </th>
                                    <th>Продавец </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="suply in DrugSuplies">
                                    <th> {{suply.DrugName}}</th>
                                    <th> {{"" + suply.Count + " " + suply.UnitsOfMeasurementName}}</th>
                                    <th> {{suply.Price}}</th>
                                    <th> {{suply.DrugSuplierName }}</th>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="contentStyle pressX">
                        <div class="styled-select" style="margin-right:5px;">
                            <label for="sort">&nbsp;&nbsp;Товар:</label>
                            <select name="sort">
                                <option>Марьванна</option>
                                <option>Ебать-копать</option>
                            </select>
                        </div>
                        <div>
                            <label>&nbsp;&nbsp;Вес:</label>
                            <input type="text" />
                            <div class="styled-select" style="margin-right:5px; display:inline;">
                                <select name="sort">
                                    <option>гр</option>
                                    <option>фунт</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <label>&nbsp;&nbsp;Стоимость:</label>
                            <input type="text" />
                        </div>
                        <div align="center">
                            <input type="button" value="Купить&nbsp;&nbsp;" style="width:30%; background-color:#C0C0C0;" />
                            <input type="button" value="Отмена&nbsp;&nbsp;" style="width:30%; background-color:#C0C0C0;" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
    
@Scripts.Render("~/scripts/Distributors/Distributor.js")
