
<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
        <div class="login-form">
            <div class="sign-in-htm">
                @using (Html.BeginForm("Auth", "Authorization", FormMethod.Post))
                    {
                    <div class="group">
                        <label for="user" class="label">Username</label>
                        <input id="user" type="text" class="input" name="login">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Password</label>
                        <input id="pass" type="password" class="input" data-type="password" name="password">
                    </div>
                    <div class="group">
                        <input id="check" type="checkbox" class="check" checked>
                        <label for="check"><span class="icon"></span> Keep me Signed in</label>
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Sign In">
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <a href="#forgot">Forgot Password?</a>
                    </div>
                }
            </div>
            <div class="sign-up-htm">
                @using (Html.BeginForm("Registration", "Authorization", FormMethod.Post))
                {
                    <div class="group">
                        <label for="user" class="label">Username</label>
                        <input id="user" type="text" class="input" name="login">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Password</label>
                        <input id="pass" type="password" class="input" data-type="password" name="password">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Repeat Password</label>
                        <input id="pass" type="password" class="input" data-type="password" name="repeatPassword">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Name&amp;Surname</label>
                        <input id="pass" type="text" class="input" name="name">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Card Number</label>
                        <input id="pass" type="text" class="input" name="cardNumber">
                    </div>
                    <div class="group">
                        <input id="tab-3" type="radio" name="isDistributor" value="true" class="sign-in" checked><label for="tab-3" class="tab">Distributor</label>
                        <input id="tab-4" type="radio" name="isDistributor" value="false" class="sign-up"><label for="tab-4" class="tab">Suplier</label>
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Sign Up">
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <a for="tab-1">Already Member?</a>
                    </div>
                }     
            </div>
        </div>
    </div>
</div>


<script>
		$(function(){
		  $("input[name='card']").mask("9999 9999 9999 9999");
		});
</script>