<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />


    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>
    <!-- <link href="~/Content/styles/templatemo_style.css" rel="stylesheet" type="text/css" /> -->
    <link rel="stylesheet" href="~/Content/styles/style.css">
    @*@Styles.Render("~/Content/styles/style.css")*@

    @{
        var serverUrl = string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"));
    }
    <script>
        serverUrl = '@serverUrl'
    </script>
</head>
<body>


    <script src="~/scripts/jquery-3.3.1.js"></script>
    <script src="~/scripts/jquery.dropdown.js"></script>
    <script src="~/scripts/jquery.maskedinput.min.js"></script>
    <script src="~/scripts/vue.js"></script>
    <script src="~/scripts/_helpers.js"></script>
        @RenderBody()


    <script>
		$(function(){
		  $("input[name='card']").mask("9999 9999 9999 9999");
		});
    </script>

        @RenderSection("Scripts", required: false)


    @*<script src="~/scripts/vue.min.js"></script>
    <script src="~/scripts/modernizr-2.6.2.js"></script>*@
        @*<script src="~/scripts/bootstrap.min.js"></script>*@
</body>
</html>