
@{
    ViewBag.Title = "View";
    var settings = new Newtonsoft.Json.JsonSerializerSettings();
    settings.PreserveReferencesHandling = Newtonsoft.Json.PreserveReferencesHandling.Objects;

    var loggedUser = Newtonsoft.Json.JsonConvert.SerializeObject(TempData["LoggedUser"], settings);

    int stop = 2;
}

<script>

    loggedUser = @Html.Raw(Json.Encode(loggedUser));
    //@Html.Raw(Json.Encode(loggedUser));
    loggedUser = JSON.parse(loggedUser);
    if (loggedUser != null) {
        sessionStorage.setItem("loggedUserId", loggedUser.Id);
        loggedUserId = loggedUser.Id;
    } else {
        loggedUserId = sessionStorage.getItem("loggedUserId");
    }
</script>

<div id="v-suplier-page">
    <div id="main_container">
        <div class="menu">
            <ul>
                <li> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Имя пользователя: {{User.Name}} </li>
                <li> @*<span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>*@ Баланс: {{User.Balance +' руб.'}} </li> 
            </ul>
            <ul>
                <li><a  href="~/Authorization/" > <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Покинуть аккаунт</a></li>
            </ul>
        </div>

        <div class="center_content">
            <div>

                <div class="contentStyle pressX">
                    <div style="margin-top:5px;" align="center" v-if="isEdit"><label> Редактирование товара</label></div>
                    <div style="margin-top:5px;" align="center" v-if="!isEdit"><label> Добавление товара</label></div>
                    <div class="styled-select" style="margin-right:5px;">
                        <label for="sort">&nbsp;&nbsp;Товар:</label>
                        <select name="sort" v-model="SelectedDrugId" v-bind:disabled="isEdit">
                            <option v-for="drug in Drugs" v-bind:value="drug.Id"> {{drug.Name}}</option>
                        </select>
                    </div>
                    <div>
                        <label>&nbsp;&nbsp;Кол-во:</label>
                        @*@Html.TextBox("Count", Model.Count)*@
                        <input type="number" min="0" max="1000000" v-model="SelectedCount">
                        <div class="styled-select" style="margin-right:5px; display:inline;">
                            <select name="sort" v-model="SelectedUnitId">
                                <option v-for="u in Units" v-bind:value="u.Id"> {{ u.Name }}</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <label>&nbsp;&nbsp;Стоимость, руб. :</label>
                        <input type="number"  min="0" max="1000000" v-model="SelectedPrice">
                    </div>
                    <div align="center">

                        <input class="btn btn-primary" v-show="!isEdit" v-on:click="addSuply()" type="button"  value="Купить" style="width:30%; ">
                        <input v-show="isEdit" v-on:click="editSuply()" type="button" value="Сохранить" style="width:30%; background-color:#C0C0C0;">
                        <input v-show="isEdit" type="button" value="Отмена" v-on:click="cancelEdit" style="width:30%; background-color:#C0C0C0;">
                    </div>
                </div>

                
            </div>
            <div>
                <div class="contentStyle" style="margin-top:30px;">
                    <caption>Таблица товаров</caption>
                    <table class="table_col scrolling-table" height="280" style="background-color:#e9e5e2;">
                        <colgroup>
                            <col style="background:#999999;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Название</th>
                                <th>Стоимость, руб.</th>
                                <th>Количество</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="suply in MyDrugSuplies">
                                <th> {{suply.DrugName}} </th>
                                <th> {{suply.Price}}</th>
                                <th> {{suply.Count + " " + suply.UnitsOfMeasurementName}}</th>
                                <th> <button type="button" class="btn btn-warning" v-bind:data-suplyId="suply.Id" v-on:click="startEdit(suply.Id)">Редактировать</button></th>
                                <th> <button type="button" class="btn btn-danger" v-bind:data-suplyId="suply.Id" v-on:click="removeSuply(suply.Id)">Удалить</button></th>                 
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="contentStyle" style="margin-top:30px;">
                    <div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/scripts/Supliers/Suplier.js")